.menu {
    height: 44px;
    background: #FFFFFF;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1;
    justify-content: space-between;
}
.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;   
}
.contenedor-menu {
    display: none;
}
.hamburguesa-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.logo {
    display: flex;
    height: 24px;
    width: 24px;
}
.link-menu {
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    color: #060a24;
    padding-left: 16px;
}
label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.linea-arriba, .linea-medio, .linea-abajo {
    width: 18px;
    height: 2px;
    background-color: black;
    margin: 2px;
    transition: all 1s;
    cursor: pointer;
}
input:checked + label :nth-child(1) {
    background-color: blue;
    transform:  translate(0px, 6px) rotate(-45deg);
}
input:checked + label :nth-child(2) {
    opacity: 0;
}
input:checked + label :nth-child(3) {
    background-color: blue;
    transform: translate(0px, -6px) rotate(45deg);
}
.checkbox-menu {
    display: none;
}

@media screen and (min-width: 769px) {
.menu {
    max-width: 1440px;
    width: 100%;
    height: 80px;
}
.contenedor-menu {
    display: contents;
}
.nav-header {
    display: none;
}
.label-check {
    display: none;
}
.logo {
    width: 36px;
    height: 36px;
}
.link-menu:hover {
    text-decoration: line-through;
    color: #00F3BB;
}
.link-menu:active {
    text-decoration: line-through;
    color: rgba(6, 10, 36, 0.56);
}
.item-menu {
    padding-left: 30px;
}
.link-menu {
    padding-left: 16px;
}
} 