/* Colores */
$primary-color: #060A24 100%;

/* Tamaño de Letras mobile */
$titulo: 36px;
$texto: 14px;
$texto-button: 16px;

/* Tamaño de Letras Desktop */
$titulo-big: 64px;
$titulo-contenido-big: 48px;
$texto-big: 16px;
$texto-temas: 24px;
$texto-button-big: 18px;

html {
    scroll-behavior: smooth;
}